h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 59);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 59);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 59);
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 59);
}
h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 59);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(41, 40, 40);
}

.content {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 73%;
    text-align: justify;
    background: #F0F0F0;
}

.content img {
    text-align: center;
    max-width: 100%;
}

.itemtitle a{
    text-decoration: none;
}

.itemtitle a:hover {
    text-decoration: none;
    font-size: 105%;
}

hr {
    border-top: 2px solid black;  
}

.desc a {
    color: rgb(13, 46, 75);
    text-decoration: none;
}

.desc a:hover {
    color: rgb(18, 18, 36);
    font-size: 19px;
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: rgb(146, 146, 146) rgb(146, 146, 146) rgb(146, 146, 146);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
  }
  
  blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }
  
  blockquote.twitter-tweet a {
    color: blue;
    font-weight: normal;
    text-decoration: none;
    outline: 0px none;
  }
  
  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: underline;
  }